Django>=4.2
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-storages
boto3
python-dotenv
psycopg2-binary
dj-database-url
gunicorn
whitenoise
edge-tts==7.2.7
aiohttp==3.13.3